@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-3">DreamScreen</h1>
</div>
<div class="text-center">
<img src="~/img/Рисунок1.png"
     asp-append-version="true"
     class="img-with-shadow"
     width="810"
     height="540" />
</div>
<div class="row">
    <div class="col-6">
        <div id="countByType"></div>
    </div>
    <div class="col-6">
        <div id="countByHalls"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            fetch('/api/values/countByType')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Жанр');
                    dataTable.addColumn('number', 'Кількість фільмів');

                    data.forEach(item => {
                        dataTable.addRow([item.cinemaType, item.count]);
                    });

                    const options = {
                        title: 'Фільми за жанрами',
                        titleTextStyle: {
                            color: '#0be7fb',
                            fontSize: 18
                        },
                        hAxis: { textStyle: { color: '#0be7fb' } },
                        vAxis: { textStyle: { color: '#0be7fb' } },
                        legend: { textStyle: { color: '#0be7fb' } },
                        width: 600,
                        height: 400,
                        legend: { position: 'none' },
                        backgroundColor: 'transparent',
                        colors: ['#0be7fb']
                    };

                    const chart = new google.visualization.ColumnChart(document.getElementById('countByType'));
                    chart.draw(dataTable, options);
                })
                .catch(error => {
                    console.error('Error loading chart data (countByType):', error);
                });

            fetch('/api/values/countByHalls')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Зал');
                    dataTable.addColumn('number', 'Кількість сеансів');

                    data.forEach(item => {
                        dataTable.addRow([item.cinemaType, item.count]);
                    });

                    const options = {
                        title: 'Сеанси за залами',
                        titleTextStyle: {
                            color: '#0be7fb',
                            fontSize: 18
                        },
                        hAxis: { textStyle: { color: '#0be7fb' } },
                        vAxis: { textStyle: { color: '#0be7fb' } },
                        legend: { textStyle: { color: '#0be7fb' } },
                        width: 600,
                        height: 400,
                        legend: { position: 'none' },
                        backgroundColor: 'transparent',
                        colors: ['#0be7fb']
                    };

                    const chart = new google.visualization.ColumnChart(document.getElementById('countByHalls'));
                    chart.draw(dataTable, options);
                })
                .catch(error => {
                    console.error('Error loading chart data (countByHalls):', error);
                });
        }
    </script>
}

